PORT=3005
NODE_ENV=development
ENV=development

DATABASE_URL=
LOCAL_DATABASE_URL=postgresql://postgres:postgres@localhost:5433/postgres
BETA_DATABASE_URL=

CACHE_PROVIDER=redis
REDIS_URL=
UPSTASH_TOKEN=
REDIS_URI=redis://localhost:6380

THROTTLE_LIMIT=10
THROTTLE_TTL=60

CORS_ALLOWED_ORIGIN=http://localhost:3001,http://localhost:3000

SENTRY_DSN=
